* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ120px */
  background-color: #EC715F; /* 背景色 */
}

.header-list {
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  line-height: 10px;
  display: inline-block;
  margin: 30px;
}

.header-image {
  height: 70px;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ300px */
  background-image: url(img2/mv.png); /* 背景色orange */
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
  color: #FAFAFA;
  padding-top: 200px;
}

.main-visual-name {
  font-size: 64px;
}

.main-visual-text {
  font-size: 20px;
  padding-top: 10px;
}

.production-group {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production:nth-child(-n+3) {
  margin-top: 0;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.portfolio {
  background-color: #ECEFF1;
  text-align: center;
}

.portfolio-name {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
}

.portfolio-text {
  font-size: 16px;
  color: #000000;
  margin: 30px;
}

.production {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.bg-1 {
  background-image: url(img2/sketch.jpg);
}

.bg-2 {
  background-image: url(img2/websuku.png);
}

.bg-3 {
  background-image: url(img2/write.jpg);
}

.bg-4 {
  background-image: url(img2/webcamp.png);
}

.bg-5 {
background-image: url(img2/talk.jpg);
}

.bg-6 {
  background-image: url(img2/webcamp-mother.png);
}

.feature {
  text-align: center;
}

.feature-name {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
}

.feature-text {
  font-size: 16px;
  color: #000000;
  margin: 30px;
}

.strength-box {
  display: flex;
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength {
  width: 320px;
  margin-right: 10px;
}

.icon {
  font-size: 60px;
}

.strength-name {
  font-size: 20px;
  color: #000000;
  margin: 10px;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.profile {
  background-color: #ECEFF1;
}

.profile-title {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
}

.profile-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px;
}

.profile-group {
  display: flex;
  padding: 30px 0 90px 0;
}

.left-content {
  width: 50%;
}

.right-content {
  width: 50%;
}

.profile-image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img2/my-icon.jpg);
}

.profile-name {
  margin: 20px 0 5px 0;
  font-size: 20px;
  color: #000000;
}

.profile-name:first-child {
  margin-top: 0;
}

.profile-text {
  font-size: 16px;
  color: #000000;
}

.contact-title {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.contact-text {
  font-size: 16px;
  color: #000000;
  margin: 30px;
  text-align: center;
}

.group {
  display: flex;
  width: 800px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.left-contact {
  width: 130px;
  margin: 0 auto;
}

.right-contact {
  width: 170px;
  margin: 0 auto;
}

.contact-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.mail {
  margin-bottom: 20px;
}

.contact-icon {
  font-size: 50px;
  margin-right: 20px;
}

.contact-icon:last-child {
  margin-right: 0;
}

.footer {
  width: 100%; /* 横幅いっぱい */
  height: 60px; /* 高さ120px */
  text-align: center;
  line-height: 60px;
  background-color: #EC715F; /* 背景色red */
}

.footer-text {
  color: #FAFAFA;
  font-size: 16px;
}