* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ120px */
  background-color: #EC715F; /* 背景色red */
}

a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-list > :first-child {
  margin-right: auto;
}

.nav-list-item {
  line-height: 10px;
  display: inline-block;
  margin: 30px;
}

.header-image {
  height: 70px;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ300px */
  background-image: url(img2/mv.png); /* 背景色orange */
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
  color: #FAFAFA;
  padding-top: 200px;
}

.main-visual-name {
  font-size: 64px;
}

.main-visual-text {
  font-size: 20px;
  padding-top: 10px;
}

.portfolio {
  width: 100%;
  height: 400px;
  background-color: #ECEFF1;
}

.feature {
  width: 100%;
  height: 400px;
}

.profile {
  width: 100%;
  height: 400px;
  background-color: #ECEFF1;
}

.contact {
  width: 100%;
  height: 400px;
}

.footer {
  width: 100%; /* 横幅いっぱい */
  height: 60px; /* 高さ120px */
  text-align: center;
  line-height: 60px;
  background-color: #EC715F; /* 背景色red */
}

.footer-text {
  color: #FAFAFA;
  font-size: 16px;
}