* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ120px */
  background-color: #EC715F; /* 背景色 */
  position: relative;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  line-height: 10px;
  display: inline-block;
  margin: 30px;
}

.header-image {
  height: 70px;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ300px */
  background-image: url(img2/mv.png); /* 背景色orange */
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
  color: #FAFAFA;
  padding-top: 200px;
}

.main-visual-name {
  font-size: 64px;
}

.main-visual-text {
  font-size: 20px;
  padding-top: 10px;
}

.production-group {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production:nth-child(-n+3) {
  margin-top: 0;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.portfolio {
  background-color: #ECEFF1;
  text-align: center;
}

.portfolio-name {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
}

.portfolio-text {
  font-size: 16px;
  color: #000000;
  margin: 30px;
}

.production {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.bg-1 {
  background-image: url(img2/sketch.jpg);
}

.bg-2 {
  background-image: url(img2/websuku.png);
}

.bg-3 {
  background-image: url(img2/write.jpg);
}

.bg-4 {
  background-image: url(img2/webcamp.png);
}

.bg-5 {
background-image: url(img2/talk.jpg);
}

.bg-6 {
  background-image: url(img2/webcamp-mother.png);
}

.feature {
  text-align: center;
}

.feature-name {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
}

.feature-text {
  font-size: 16px;
  color: #000000;
  margin: 30px;
}

.strength-box {
  display: flex;
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength {
  width: 320px;
  margin-right: 10px;
}

.icon {
  font-size: 60px;
}

.strength-name {
  font-size: 20px;
  color: #000000;
  margin: 10px;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.profile {
  background-color: #ECEFF1;
}

.profile-title {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
}

.profile-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px;
}

.profile-group {
  display: flex;
  padding: 30px 0 90px 0;
}

.left-content {
  width: 50%;
}

.right-content {
  width: 50%;
}

.profile-image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img2/my-icon.jpg);
}

.profile-name {
  margin: 20px 0 5px 0;
  font-size: 20px;
  color: #000000;
}

.profile-name:first-child {
  margin-top: 0;
}

.profile-text {
  font-size: 16px;
  color: #000000;
}

.contact-title {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.contact-text {
  font-size: 16px;
  color: #000000;
  margin: 30px;
  text-align: center;
}

.group {
  display: flex;
  width: 800px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.left-contact {
  width: 130px;
  margin: 0 auto;
}

.right-contact {
  width: 170px;
  margin: 0 auto;
}

.contact-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.mail {
  text-decoration: underline;
  margin-bottom: 20px;
  color: #000000;
}

.tel {
  text-decoration: underline;
  color: #000000;
}

.contact-icon {
  font-size: 50px;
  margin-right: 20px;
}

.contact-icon:last-child {
  margin-right: 0;
}

.footer {
  width: 100%; /* 横幅いっぱい */
  height: 60px; /* 高さ120px */
  text-align: center;
  line-height: 60px;
  background-color: #EC715F; /* 背景色red */
}

.footer-text {
  color: #FAFAFA;
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .header-image {
    display: block;
  }

  .drawer_hidden {
    display: none;
  }

  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }

  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    display: block;
    height: 40px;
    width: 40px;
    color: #FAFAFA;
    font-size: 25px;
    border: 1px solid #FAFAFA;
    margin: auto 5px;
    padding-left: 7px;
    transition: 0.5s;
    position: absolute;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* メニューのデザイン*/
  .nav_content {
    width: 50%;
    height: 20%;
    position: fixed;
    top: 70px;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }

  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 400px;/* メニューを画面に入れる */
  }

  .main-visual {
    width: 100%;
    background-image: url(img2/code.png); /* 背景色orange */
  }

  .main-visual-name {
    font-size: 40px;
  }

  .main-visual-text {
    font-size: 18px;
  }

  .production-group {
    width: 300px;
  }

  .production {
    margin-right: 0px;
  }

  .sp-none {
    display: none;
  }

  .strength-box {
    flex-flow: row wrap;
    width: 320px;
  }

  .strength {
    margin-top: 10px;
    margin-right: 0px;
  }

  .strength:first-child {
    margin-top: 0;
  }

  .profile-group {
    flex-flow: row wrap;
    text-align: center;
    margin: 0 auto;
  }

  .profile-group .left-content {
    margin-bottom: 20px;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    width: 100%;
  }
}

/* メディアクエリ: 769px以上の場合に適用（PC版） */
@media screen and (min-width: 769px) {
  .drawer_hidden {
    display: none;
  }

  .drawer_open {
    display: none; /* デスクトップ表示時は非表示 */
    cursor: pointer;
  }

　.nav-list {
    display: flex;
  }

  .nav-list-item {
    margin: 30px;
  }
}